#sidebar {
    background-color: rgba(0, 0, 0, 0.1);
    border: none;
    padding: 50px;
    height: 100vh;
}

#sidebar .item {
    color: white;
}

p {
    font-family: 'Open Sans', sans-serif;
    width: 70%;
    margin-bottom: 3%;
    margin-top: 3%;
}

#map {
    height: 300px;
}

.ui.list .list>.item a,
.ui.list>.item a {
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
    color: #777adb;
}

.ui.list .list>.item a:hover,
.ui.list>.item a:hover {
    color: white;
}

.purple-icon {
    color: #1f2162;
}

.ui.secondary.vertical.pointing.menu .active.item {
    border-color: white;
}

#mobile-menu {
    z-index: 1;
    position: fixed;
    right: 0px;
    background-color:black;
    color: white;
    margin-top: 5px;
}

#page-content {
    color: white;
}

.section-title {
    font-family: 'Roboto', sans-serif;
    font-size: 2.5rem;
}

#home {
    background: -webkit-linear-gradient(-90deg, red, yellow);
    /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(-90deg, red, yellow);
    /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(-90deg, red, yellow);
    /* For Firefox 3.6 to 15 */
    background: linear-gradient(45deg, #2E3192, #208EE1);
    /* Standard syntax */
    height: 105vh;
}

#splash-logo {
    float: right;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 80%;
    max-width: 1400px;
    height: auto;
}

.news-item {
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.25rem;
}

.ui.card>.content>a.header {
    color: white;
}

.ui.card>.content>a.header:hover {
    color: white;
}

.ui.card>.content>.meta {
    color: #585858;
}

.ui.card>.content>.description {
    color: #A8A8A8;
}

#news {
    padding: 3%;
    background-color: #262626;
}

#news-container {
    margin-top: 3%;
    overflow-y: hidden;
    overflow-x: scroll;
    white-space: nowrap;
}

#news-container .news {
    box-shadow: none;
    width: 300px;
    height: 100px;
    background-color: #1C1C1C;
    border: none;
    margin: 0px 20px 50px 0px;
    white-space: nowrap;
    display: inline-block;
}

#about {
    padding: 3%;
    background-color: #2E3192;
}

.blue-link {
    color: #1BA4FF;
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

.blue-link:hover {
    color: white;
}

#resources {
    padding: 3%;
    background-color: #1BA4FF;
}

.resource-buttons {
    width: 70%;
}

.ui.grid {
    margin-top: 2%;
}

.ui.card,
.ui.cards>.card {
    box-shadow: none;
}

#team {
    padding: 3%;
    background-color: #262626;
}

.team-members {
    padding-top: 2%;
}

#contact {
    padding: 3%;
    background-color: #2E3192;
}

#footer {
    background-color: #1d1f6a;
    font-family: 'Open Sans', sans-serif;
    padding: 1%;
    text-align: center;
}


/*Large Devices*/

@media all and (min-width: 1400px) {
    .pushed {
        padding-left: 215px;
    }
    #mobile-menu {
        display: none;
    }
    #sidebar {
        display: inline-block;
    }
}


/*Medium sized devices*/

@media (max-width: 1399px) and (min-width: 1024px) {
    .pushed {
        padding-left: 215px;
    }
    #sidebar {
        display: inline-block;
    }
    #mobile-menu {
        display: none;
    }
}

/*Tablets*/
@media (max-width: 1024px) and (min-width: 768px) {
    .pushed {
        padding-left: 0px;
    }
    #sidebar {
        display: none;
        background-color: black;
    }
    #mobile-menu {
        display: inline-block;
    }
    #splash-logo {
        content: url(../images/splash_logo_no-shadow.png);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 80vw;
        height: auto;
    }
    .resource-buttons {
        width: 100%;
    }
    p {
        width: 100%;
    }
}

/*Phones*/

@media (max-width: 768px) and (min-width: 0px) {
    .pushed {
        padding-left: 0px;
    }
    #sidebar {
        display: none;
        background-color: black;
    }
    #mobile-menu {
        display: inline-block;
    }
    #splash-logo {
        content: url(../images/splash_logo_no-shadow.png);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 80vw;
        height: auto;
    }
    .resource-buttons {
        width: 100%;
    }
    p {
        width: 100%;
    }
    .ui.card>.image:not(.ui)>img, .ui.cards>.card>.image:not(.ui)>img {
        display: none;
    }
}