<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <meta name="description" content="CSEC-W is the Computer Science Enrichment Club’s Web Development Division. We teach transferable Web Development skills to students.">
    <meta name="keywords" content="HTML, CSS, JavaScript, BootStrap, UTSC, BootStrap, CSEC, CSEC-W, CSEC WEB DIVISION, COMPUTER SCIENCE ENRICHMENT CLUB, WEB DIVISION, UOFT, University of Toronto">
    <meta name="author" content="CSEC Web Division">
    <meta name="theme-color" content="#262626">

    {% if title %}
      <title>{{ title }} - CSEC-W</title>
    {% else %}
      <title>CSEC-W</title>
    {% endif %}
    <link rel="icon" sizes="192x192" href="{{ url_for('static', filename='images/icon.png') }}">

    <!-- Latest JQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    <!-- Import Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Montserrat:800|Roboto:700,900" rel="stylesheet">

    <!-- Semantic-UI -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='semantic/semantic.min.css') }}">
    <script src="{{ url_for('static', filename='semantic/semantic.min.js') }}"></script>

    <!-- Custom Stylesheet and js -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/dashboard-style.css') }}">
    <!--<script src="{{ url_for('static', filename='js/scripts.js') }}"></script> -->

    <script>
      function load_dropdowns() {
          $('#lecture').dropdown();
          $('#material_type').dropdown();
        }
    </script>
    <!-- Moment -->
    {{ moment.include_moment() }}
  </head>
  <body>
    <!-- Navigation Bar -->
    <div class="ui menu">
      <div class="ui container">
        <a href="/" class="header item">CSEC-W</a>

        {% if current_user.is_authenticated %}
          <a class="item" href="/dashboard">Dashboard</a>

          <div class="right menu">
            <a class="item" href="/logout">Logout</a>
          </div>
        {% else %}
          <div class="right menu">
            <a class="item" href="/login">Login</a>
            <a class="item" href="/register">Register</a>
          </div>
        {% endif %}
      </div>
    </div>

    <div class="ui main text container">
      {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div class="ui info message">
          <div class="header">Messages</div>

          <ul class="list">
          {% for message in messages %}
            <li>{{ message }}</li>
          {% endfor %}
          </ul>
        </div>
        <br><br>
        {% else %}
        <br>
        {% endif %}
      {% endwith %}
    </div>
    {% block content %}
    {% endblock %}
  </body>
</html>